<?xml version="1.0"?>
<configuration>
  <!--
  <configSections>
<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
</startup>
<entityFramework>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
</entityFramework>
-->
  <appSettings>
    <!-- log errori e parametri di debug -->
    <add key="LogLevel" value="Info"/>
    <add key="LogFilename" value="log.txt"/>
    
    <!-- visualizza ogni errore del db con MessageBox -->
    <add key="ShowErrors" value="true"/>
    
    <!-- debug: quando ricarichi completamente il db visualizza una MessageBox col tempo impiegato (dovrebbe essere ~3sec) -->
    <add key="ShowRefreshTime" value="false"/>


    
    <!-- configurazione del programma -->
    
    <!-- quando stai facendo una ricerca anagrafica, tempo in msec di inattività dopo cui applica i criteri -->
    <add key="RefreshAnagrafica" value="50 "/>
    <!-- quando stai facendo una ricerca, tempo in msec di inattività dopo cui applica i criteri -->
    <add key="RefreshAltre" value="50 "/>

    <!-- visualizza la colonna dovuto nella finestra principale -->
    <add key="ShowColumnDovuto" value="false"/>

    <!-- colore del pannello non pagato -->
    <add key="colorNonPagato" value="Salmon"/>

    <!-- chiudi word dopo aver stampato: -->
    <add key="QuitWordAfterPrintCartellino" value="true"/>
    <add key="QuitWordAfterPrintPagamento" value="true"/>
    <add key="QuitWordAfterPrintLibroSoci" value="true"/>
    <add key="QuitWordAfterPrintIngressiGiorno" value="true"/>
    

    <!-- chiedi se effettuare un backup quando si esce dal programma -->
    <add key="promptBackupOnExit" value="false"/>
    <!-- scrive data e ora di chiusura nel log quando si esce dal programma -->
    <add key="writeLogOnExit" value="true"/>



    <!-- non utilizzate -->
    <add key="ConnectionString" value="undefined"/>
    <add key="IVA" value="21,0"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
